body{
    margin: 0;
    background-image: url('images/view.jpeg'); 
    background-color: beige;    
}

.header{
    padding:0 45px 0 45px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5cae9;
    height: 80px;
}

.nav a{
    color: white;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.nav a:hover{
    color: black;
    transform: rotate(6deg);
}

.nav{
    list-style: none;
    margin: 0;
    padding: 10;
    display: flex;
}

.nav li {
    margin-left: 20px;
}

img{
    border-radius: 100px;
}

.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
   background-color: aliceblue;
  }

  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    border-radius: 50px;
  }
  
  .box  img  {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box  span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover a img {
    width: 100%;
    height: 100%;
  }
.div4{
    text-align: center;
}
.socialicon{
    color: #c5cae9;
    width: 50px;
    font-size:4rem ;
    padding-right: 50px;
    padding-left: 15px;
}

.icon:hover { 
    transform: scale(1.5);
}




/**********************************************************SCHEDULE*****************************************************************/
.container4{
    border-radius: 0px;
    text-align: center;
    display: block;
}
.schedule1{
    border-radius: 0px;
}
.schedule2{
    border-radius: 0px;
}





/**********************************************************EDUCATION*****************************************************************/
.edu{
    background-color: bisque;
    color: #000;
}

:root {
    --contentHeight: 30vh;
    --sectionWidth: 700px;
  }

  section {
    max-width: var(--sectionWidth);
    margin: 40px auto;
    width: 97%;
    color:cadetblue
  }
  
  summary {
    display: block;
    cursor: pointer;
    padding: 10px;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    transition: .3s;
    border-bottom: 2px solid;
    user-select: none;
  }
  
  details > div {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    user-select: none;
    padding: 0 20px;
    font-family: "Karla", sans-serif;
    line-height: 1.5;
  }
  
  details > div > img {
    align-self: flex-start;
    max-width: 100%;
    margin-top: 20px;
  }
  
  details > div > p {
    flex: 1;
  }
  
  details[open] > summary {
     color: red;
  }
  
  @media (min-width: 768px) {
    details[open] > div > p {
      opacity: 0;
      animation-name: showContent;
      animation-duration: 0.6s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
      margin: 0;
      padding-left: 20px;
    }
  
    details[open] > div {
      animation-name: slideDown;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  
    details[open] > div > img {
      opacity: 0;
      height: 100%;
      margin: 0;
      animation-name: showImage;
      animation-duration: 0.3s;
      animation-delay: 0.15s;
      animation-fill-mode: forwards;
    }
  }

  #p1{
    color: #000;
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      height: 0;
      padding: 0;
    }
  
    to {
      opacity: 1;
      height: var(--contentHeight);
      padding: 20px;
    }
  }
  
  @keyframes showImage {
    from {
      opacity: 0;
      clip-path: inset(50% 0 50% 0);
      transform: scale(0.4);
    }
  
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }
  
  @keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  /**********************************************************FAMILY******************************************************************/
  * {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.tree {
	width: 100%;
	height: auto;
	text-align: center;
}
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: .5s;
}
.tree li {
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 10px;
	transition: .5s;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 51%;
	height: 10px;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}
.tree li a {
	border: 1px solid #ccc;
	padding: 10px;
	display: inline-grid;
	border-radius: 5px;
	text-decoration-line: none;
	border-radius: 5px;
	transition: .5s;
}
.tree li a img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px !important;
	border-radius: 100px;
	margin: auto;
}
.tree li a span {
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #666;
	padding: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}
/*Hover-Section*/
.tree li a:hover, .tree li a:hover i, .tree li a:hover span, .tree li a:hover+ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}
.tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
	border-color: #94a0b4;
}
  .container3 {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
   background-color: aliceblue;
  }
  .container2 {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
    background-color: gainsboro;
  }
  .familywalid{
    text-align: center;
  }
  .familymama{
    text-align: center;
  }
  .btn1{
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
  }
  .btn2{
    width: 110px;
    border-radius: 10px;
    font-size: 20px;
  }
  .button{
    text-align: center;
  }
  .btn1:hover{
    background-color:#c8e4f8;
    box-shadow: 5px 0px 0 #FBC638;
    cursor: pointer;
  }
  .btn2:hover{
    background-color: #c8e4f8;
    box-shadow: 5px 0px 0 #FBC638;
    cursor: pointer;
  }




  /**********************************************************FAVORITES***************************************************************/
  #homedisplay {
    width: 100%;
    background-color: #ced4db;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  #contentwrapper3 {
    position: relative;
    margin: 0 auto;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  #contentwrapper3 h1{
    font-size: xx-large;
    font-weight: bold;
  }
  
  .car-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    flex: 0 0 100px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
  
  }
  
  .car-card:last-child {
    margin-bottom: 0;
  }
  
  .car-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }

 
   